{% extends 'base.html' %}

{% block title %} Carts {% endblock %}


{% block content %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">TotalPrice</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for key, product in session['Shoppingcart'].items() %}
            {% set discount = '%0.2f'|format(( product.discount / 100 ) * product.price|float) %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ product.title }}</td>
            <form method='post' action='{{ url_for('carts.updateCart', id=key) }}'>
                <td>{{ product.price }}</td>
                <td><input name='quantity' type='number' value='{{ product.quantity }}'
                min='1' max='{{ product.stock }}'></td>
                <td>{{ product.discount }}% is {{ discount }}</td>
                {% set TotalPrice = product.quantity|int * product.price|float %}
                <td>{{ '%0.2f'|format((TotalPrice|float) - discount|float) }}</td>
                <td><button type='submit' class='btn btn-outline-info btn-sm'>Update</button></td>
            </form>
                <td><a href='{{ url_for('carts.deleteCart', id=key) }}' class='btn btn-outline-warning btn-sm'>Remove</a></td>
            </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td colspan='3'><h5>Tax: ${{ tax }}</h5></td>
                <td colspan='3'><h5>GrandTotal: ${{ grand_total }}</h5></td>
                <td><a href='{{ url_for('carts.clearCart') }}' class='btn btn-outline-danger btn-sm'>Clear</a></td>
            </tr>
        </tbody>
    </table>

     <form method='post' action='{{ url_for('orders.createOrder') }}' novalidate>
        {{ form.csrf_token }}
        {{ form.name.label(class='form-control-label') }} {{ form.name(class='form-control') }}
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.country.label(class='form-control-label') }} {{ form.country(class='form-control') }}
        {% if form.country.errors %}
            {% for error in form.country.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.city.label(class='form-control-label') }} {{ form.city(class='form-control') }}
        {% if form.city.errors %}
            {% for error in form.city.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.address.label(class='form-control-label') }} {{ form.address(class='form-control') }}
        {% if form.address.errors %}
            {% for error in form.address.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.contact.label(class='form-control-label') }} {{ form.contact(class='form-control') }}
        {% if form.contact.errors %}
            {% for error in form.contact.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.zip_code.label(class='form-control-label') }} {{ form.zip_code(class='form-control') }}
        {% if form.zip_code.errors %}
            {% for error in form.zip_code.errors %}
                <p class='alert alert-danger'>{{ error }}</p>
            {% endfor %}
        {% endif %}

        <button type='submit' class='btn btn-outline-primary'>Confirm</button>
    </form> 
{% endblock %}