{% extends 'base.html' %}

{% block title %} Carts {% endblock %}


{% block content %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">TotalPrice</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for key, product in session['Shoppingcart'].items() %}
            {% set discount = '%0.2f'|format(( product.discount / 100 ) * product.price|float) %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ product.title }}</td>
            <form method='post' action='{{ url_for('carts.updateCart', id=key) }}'>
                <td>{{ product.price }}</td>
                <td><input name='quantity' type='number' value='{{ product.quantity }}'
                min='1' max='{{ product.stock }}'></td>
                <td>{{ product.discount }}% is {{ discount }}</td>
                {% set TotalPrice = product.quantity|int * product.price|float %}
                <td>{{ '%0.2f'|format((TotalPrice|float) - discount|float) }}</td>
                <td><button type='submit' class='btn btn-outline-info btn-sm'>Update</button></td>
            </form>
                <td><a href='{{ url_for('carts.deleteCart', id=key) }}' class='btn btn-outline-warning btn-sm'>Remove</a></td>
            </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td><a href='/' class='btn btn-outline-success'>Checkout</a></td>
                <td colspan='3'><h5>Tax: ${{ tax }}</h5></td>
                <td colspan='3'><h5>GrandTotal: ${{ grand_total }}</h5></td>
                <td><a href='{{ url_for('carts.clearCart') }}' class='btn btn-outline-danger btn-sm'>Clear</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}